function_flow.json
[{"id":"f8c5fd9c.087c9","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"afeb6491.17a1a8","type":"ncd-gateway-node","z":"f8c5fd9c.087c9","name":"","connection":"fbb36648.bd10f8","x":130,"y":80,"wires":[["9d04b930.791128"]]},{"id":"aae4d5fb.e9e9b8","type":"ncd-wireless-node","z":"f8c5fd9c.087c9","name":"Vibration/Temperature","connection":"38428cea.affba4","config_comm":"4e4864b9.8d96ec","addr":"","sensor_type":"8","auto_config":true,"node_id":0,"delay":"900000","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":120,"y":260,"wires":[["6b784ab9.c502f4","1b373014.106e7"]]},{"id":"9d04b930.791128","type":"debug","z":"f8c5fd9c.087c9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":80,"wires":[]},{"id":"6b784ab9.c502f4","type":"debug","z":"f8c5fd9c.087c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":400,"wires":[]},{"id":"6ae18c2b.bcdfd4","type":"e-mail","z":"f8c5fd9c.087c9","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"jugranmanish2@gmail.com","dname":"email","x":710,"y":260,"wires":[]},{"id":"1b373014.106e7","type":"function","z":"f8c5fd9c.087c9","name":"Function","func":"if (msg.payload.temperature > 28) {\n   node.send({\n      topic: \"Subject: System .... \",\n      payload: \"Temperature:\" + msg.payload.temperature,})\n}\n\nif (msg.payload.rms_x > 300) {\n   node.send({\n      topic: \"Subject: System RMS_X value has been exceeded \",\n      payload: \"RMS_X:\" + msg.payload.rms_x,\n   });\n}   \n   \nif (msg.payload.rms_y > 50) {\n   node.send({\n      topic: \"Subject: System RMS_Y value has been exceeded \",\n      payload: \"RMS_Y:\" + msg.payload.rms_y,\n   });\n}   \nif (msg.payload.rms_z > 100) {\n   node.send({\n      topic: \"Subject: System RMS_Z value has been exceeded \",\n      payload: \"RMS_Z:\" + msg.payload.rms_z,\n   });   \n}\n\nif (msg.payload.max_x > 500) {\n   node.send({\n      topic: \"Subject: System MAX_X value has been exceeded \",\n      payload: \"MAX_X:\" + msg.payload.max_x,\n   });\n}\n\nif (msg.payload.max_y > 50) {\n   node.send({\n      topic: \"Subject: System MAX_Y value has been exceeded \",\n      payload: \"MAX_Y:\" + msg.payload.max_y,\n   });\n}\n\nif (msg.payload.max_z > 0) {\n   node.send({\n      topic: \"Subject: System RMS_x value has been exceeded \",\n      payload: \"MAX_Z:\" + msg.payload.max_z,\n   });\n}\n\nif (msg.payload.min_x < 0) {\n   node.send({\n      topic: \"Subject: System MIN_X value has been exceeded \",\n      payload: \"MIN_X:\" + msg.payload.min_x,\n   });\n}\n\nif (msg.payload.min_y < 0) {\n   node.send({\n      topic: \"Subject: System min_y value has been exceeded \",\n      payload: \"MIN_Y:\" + msg.payload.min_y,\n   });\n}\n\nif (msg.payload.min_z < (-150)) {\n   node.send({\n      topic: \"Subject: System MIN_Z value has been exceeded \",\n      payload: \"MIN_Z:\" + msg.payload.rms_x,\n   });\n}   \nreturn;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["6ae18c2b.bcdfd4"]]},{"id":"fbb36648.bd10f8","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"38428cea.affba4","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"4e4864b9.8d96ec","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false}]