Vibration_Temperature_flow.json
[{"id":"f8c5fd9c.087c9","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"afeb6491.17a1a8","type":"ncd-gateway-node","z":"f8c5fd9c.087c9","name":"","connection":"fbb36648.bd10f8","x":130,"y":80,"wires":[["9d04b930.791128"]]},{"id":"aae4d5fb.e9e9b8","type":"ncd-wireless-node","z":"f8c5fd9c.087c9","name":"Vibration/Temperature","connection":"38428cea.affba4","config_comm":"4e4864b9.8d96ec","addr":"","sensor_type":"8","auto_config":true,"node_id":0,"delay":"900000","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":120,"y":260,"wires":[["6b784ab9.c502f4","5bc72290.6827bc","7857311.70715d"]]},{"id":"9d04b930.791128","type":"debug","z":"f8c5fd9c.087c9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":80,"wires":[]},{"id":"6b784ab9.c502f4","type":"debug","z":"f8c5fd9c.087c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":400,"wires":[]},{"id":"7857311.70715d","type":"function","z":"f8c5fd9c.087c9","name":"Vibration","func":"if (msg.payload.rms_x > 300 && msg.payload.rms_y > 50 && msg.payload.rms_z > 100 && msg.payload.max_x > 500 && msg.payload.max_y > 50 && msg.payload.max_z > 0 && msg.payload.min_x < 0 && msg.payload.min_y < 0 && msg.payload.min_z < -150) {\n    msg.topic = \"Subject:System Vibration has been  exceeded.\";\n    msg.payload = \"Vibration: [rms_x:\" + String(msg.payload.rms_x)+\",rms_y:\"+ String(msg.payload.rms_y)+\",rms_z:\"+ String(msg.payload.rms_z)+\",max_x:\"+ String(msg.payload.max_x)+\",max_y:\"+ String(msg.payload.max_y)+\",max_z:\"+ String(msg.payload.max_z)+\",min_x:\"+ String(msg.payload.min_x)+\",min_y:\"+ String(msg.payload.min_y)+\",min_z:\"+ String(msg.payload.min_z)+\"]\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["6ae18c2b.bcdfd4"]]},{"id":"5bc72290.6827bc","type":"function","z":"f8c5fd9c.087c9","name":"Temperature","func":"if(msg.payload.temperature>25)\n{\nmsg.topic = \"Subject:System temperature has been  exceeded.\";\nmsg.payload = \"Temperature:\" + String(msg.payload.temperature);\nreturn msg;\n}","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["6ae18c2b.bcdfd4"]]},{"id":"6ae18c2b.bcdfd4","type":"e-mail","z":"f8c5fd9c.087c9","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"jugranmanish2@gmail.com","dname":"email","x":710,"y":260,"wires":[]},{"id":"fbb36648.bd10f8","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"38428cea.affba4","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"4e4864b9.8d96ec","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false}]